body {
  //background-color: #DADADA;
}

.container {
  padding: 2em 0;
}

.ui.table td.link-solar-row {
  text-align: center;
}

.pull-right {
  float: right;
}

.ui.header.company-title {
  font-size: 2.5em;
  padding-top: 11px;
  border-bottom: 3px solid #00b5ad;
  padding-bottom: 5px;
  font-style: italic;
}
