<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>App</title>
    <link href="/assets/css/semantic-ui/semantic.min.css" type="text/css" rel="stylesheet"/>
    <base href="/"/>
  </head>

  <body>

    <h1>Hello PG&amp;E</h1>
    <div id="app-container">
    </div>

    <script src="/assets/bundle.js"></script>

    <script>
     var options = {
       container: '#app-container',
       oktaUrl: '{{{config.oidc.oktaUrl}}}',
       authzUrl: '{{{config.oidc.authzUrl}}}',
       clientId: '{{config.oidc.clientId}}',
       redirectUri: '{{{config.oidc.redirectUri}}}'
     };

     bundle.bootstrap(options);
    </script>
  </body>
</html>
